.nav-wrapper {
    background: linear-gradient(90deg, #000000 10%, #0daeee 100%);
    color: #fff;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1em;
    /* margin: 0 auto; */
    padding: 0 20px;
}
.nav-link {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1em;
   flex-direction: row;
    /* margin: 0 auto; */
    padding: 0 6em;
}
.nav-link li{
    list-style: none;
}

/* //For responsive */

@media screen and (max-width: 600px){
.li:nth-child(1){
    display: none   ;
}
    
}